body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    text-align: center;
    margin: 0 auto;
    width: auto;
    
}

h1, h2 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

table {
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-device-width: 600px) {
    table, header {
        width: 600px;
    }
}

thead {
    background-color: gray;
}

th {
    text-align:left;
}

td {
    border-top: 1px solid rgb(0, 0, 0);
}

.code {
    font-family: monospace;
    font-weight: bold;
}